<div style="display:flex;justify-content:center">
  <button mat-raised-button color='primary' routerLink="/payments/payment" routerLinkActive="hide"
    style='margin:1%;width:15%' [disabled]="url_payment">Εισπράξεις</button>
  <button mat-raised-button color='primary' routerLink="/payments/refund" routerLinkActive="hide"
    style='margin:1%;width:15%' [disabled]="url_refund">Επιστροφές Χρημάτων</button>
  <button mat-raised-button color='primary' routerLink="/payments/pre-auth" routerLinkActive="hide"
    style='margin:1%;width:15%' [disabled]="url_pre_auth">Εγγυήσεις</button>
  <button mat-raised-button color='primary' routerLink="/payments/refund-pre-auth" routerLinkActive="hide"
    style='margin:1%;width:25%' [disabled]="url_refund_pre_auth">Επιστροφές Χρημάτων
    Εγγυήσεων</button>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_payment">
  <h6>Ποσό: {{ totalPaymentSrv.total_paymentSub.getValue()?.total_payment ?? 0 }} €</h6>
  <h6>Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.total_results_p ?? 0 }}</h6>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_refund">
  <h6>Ποσό: {{totalPaymentSrv.total_paymentSub.getValue()?.total_refund ?? 0 }}€</h6>
  <h6>Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.total_results_r ?? 0  }}</h6>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_pre_auth">
  <h6>Ποσό: {{totalPaymentSrv.total_paymentSub.getValue()?.total_pre_auth ?? 0 }}€</h6>
  <h6>Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.total_results_pa ?? 0  }}</h6>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_refund_pre_auth">
  <h6>Ποσό: {{totalPaymentSrv.total_paymentSub.getValue()?.total_refund_pre_auth ?? 0 }}€</h6>
  <h6>Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.total_results_rpa ?? 0 }}</h6>
</div>


<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_payment">
  <h6>Συνολικό Ποσό: {{ totalPaymentSrv.total_paymentSub.getValue()?.g_total_payment ?? 0  }}€</h6>
  <h6>Συνολικά Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.g_total_results_p ?? 0 }}</h6>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_refund">
  <h6>Συνολικό Ποσό: {{totalPaymentSrv.total_paymentSub.getValue()?.g_total_refund ?? 0 }}€</h6>
  <h6>Συνολικά Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.g_total_results_r ?? 0 }}</h6>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_pre_auth">
  <h6>Συνολικό Ποσό: {{totalPaymentSrv.total_paymentSub.getValue()?.g_total_pre_auth ?? 0 }}€</h6>
  <h6>Συνολικά Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.g_total_results_pa ?? 0  }}</h6>
</div>

<div style="display:flex;justify-content:space-between;margin:1%;" *ngIf="url_refund_pre_auth">
  <h6>Συνολικό Ποσό: {{totalPaymentSrv.total_paymentSub.getValue()?.g_total_refund_pre_auth  ?? 0 }}€</h6>
  <h6>Συνολικά Αποτελέσματα: {{ totalPaymentSrv.total_paymentSub.getValue()?.g_total_results_rpa ?? 0 }}</h6>
</div>


<ng-template #user_filter let-filter>
  <app-user-selector class="col-12" [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-user-selector>
</ng-template>

<ng-template #station_filter let-filter>
  <app-station-selector class="col-12" [clearBtn]="true" #station [label]="filter.label" [(ngModel)]="filter.value">
  </app-station-selector>
</ng-template>

<ng-template #payer_filter let-filter>
  <app-customer-selector class="col-12" [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-customer-selector>
</ng-template>

<ng-template #rental_filter let-filter>
  <app-rental-selector class="col-12" [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-rental-selector>
</ng-template>

<ng-template #booking_filter let-filter>
  <app-booking-selector class="col-12" [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-booking-selector>
</ng-template>


<ng-template #method_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Τρόπος Είσπραξης</mat-label>
    <mat-select #matRef [(ngModel)]="filter.value">
      <mat-option [value]="method.id" *ngFor="let method of methods">{{ method.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
 <mat-icon class="col-1" *ngIf="filter.value" (click)="clear()">clear</mat-icon>
</ng-template>

<ng-template #date_from_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Ημερομηνία Από</mat-label>
    <input matInput #input1 (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))" [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
 <mat-icon class="col-1" *ngIf="input1.value" (click)="clearDates1()">clear</mat-icon>
</ng-template>

<ng-template #date_to_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Ημερομηνία Εώς</mat-label>
    <input matInput #input2 (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))" [matDatepicker]="picker2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
   <mat-icon class="col-1" *ngIf="input2.value" (click)="clearDates2()">clear</mat-icon>
</ng-template>


