
<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Ποσό: {{totalInvSrv.total_invoiceSub.getValue()?.total_amount ?? 0 }} €</h6>
  <h6>Αποτελέσματα: {{ totalInvSrv.total_invoiceSub.getValue()?.results ?? 0 }}</h6>
</div>


<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικό Ποσό: {{totalInvSrv.total_invoiceSub.getValue()?.g_total_amount ?? 0 }} €</h6>
  <h6>Συνολικά Αποτελέσματα: {{ totalInvSrv.total_invoiceSub.getValue()?.g_results ?? 0  }}</h6>
</div>


<ng-template #sequence_number let-element>
<div style="display:flex;">
<p>{{element.sequence_number}}</p>
&nbsp;&nbsp;
<span *ngIf="element.sent_to_aade" class='md'>MD</span>
</div>
</ng-template>

<ng-template #station_filter let-filter>
  <app-station-selector class="col-12" [clearBtn]="true" #station [label]="filter.label" [(ngModel)]="filter.value">
  </app-station-selector>
</ng-template>

<ng-template #payer_filter let-filter>
  <app-customer-selector class="col-12" [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-customer-selector>
</ng-template>

<ng-template #type_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Τύπος</mat-label>
    <mat-select #matRef [(ngModel)]="filter.value">
      <mat-option [value]="''">Όλα</mat-option>
      <mat-option [value]="'invoice'">Invoice</mat-option>
       <mat-option [value]="'receipt'">Receipt</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="filter.value" (click)="clear()">clear</mat-icon>
</ng-template>

<ng-template #aade_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>ΑΑΔΕ:</mat-label>
    <mat-select #matRef2 [(ngModel)]="filter.value">
      <mat-option [value]="''">Συγχρονισμένα και μη</mat-option>
      <mat-option [value]="1">Συγχρονισμένα</mat-option>
      <mat-option [value]="'0'">Μη συγχρονισμένα</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="filter.value" (click)="clear2()">clear</mat-icon>
</ng-template>


<ng-template #date_from_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Ημερομηνία Από</mat-label>
    <input matInput #input1 (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))" [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
 <mat-icon class="col-1" *ngIf="input1.value" (click)="clearDates1()">clear</mat-icon>
</ng-template>

<ng-template #date_to_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Ημερομηνία Εώς</mat-label>
    <input matInput #input2 (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))" [matDatepicker]="picker2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
<mat-icon class="col-1" *ngIf="input2.value" (click)="clearDates2()">clear</mat-icon>
</ng-template>
