
.signature-container {
    border-style: dashed;
    border-color: coral;
    border-width: 1px;
    margin-bottom: 20px;
    background-color: white;
    width: 400px;
    height: 300px;
}

.seeImg{
border-style: dashed;
    border-color: coral;
    border-width: 1px;
    margin-bottom: 20px;
    width: 50%;
}


.scroll{
        background-color: white;
        height: 400px;
        overflow: auto;
        text-align: justify;
        padding: 20px;
    }

