<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete"
  (keydown.enter)="$event.preventDefault()">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">


                <ng-template info [ngIf]="true">

                  <div class="col-11 m-1 p-2" style='border: 1px solid;border-radius: 10px 10px 10px 10px;'>
                    <h3>Πληροφορίες μετακίνησης</h3>
                    <hr>
                    <mat-form-field class="col-3 m-1">
                      <mat-label>ID:</mat-label>
                      <input readonly matInput formControlName="id">
                    </mat-form-field>

                    <div>
                      <mat-form-field class="col-3 m-1">
                        <mat-label>*Κατάσταση Οχήματος</mat-label>
                        <mat-select formControlName="type_id">
                          <mat-option *ngFor="let t of transitionTypeData" [value]="t.id">{{ t?.title }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div *ngIf="form.get('type_id').invalid && (form.get('type_id').dirty ||
                            form.get('type_id').touched)" class="alert">
                        Παρακαλώ προσθέστε Κατάσταση Οχήματος
                      </div>
                    </div>

                    <br>

                    <div class="col-6 m-1">
                      <mat-label style="text-shadow: 1px 1px #7700ff ;">*Οδηγός:</mat-label>&nbsp;&nbsp;&nbsp;
                      <mat-radio-group formControlName="driver">
                        <mat-radio-button #employee [checked]="allTransitionData?.driver?.role=='employee'" [value]="'employee'"
                          style="margin: 1%;" (click)='DriverRoleE()'>
                          <i>Υπάλληλος</i>
                        </mat-radio-button>
                        <mat-radio-button #customer *ngIf="!checkUrl" [checked]="allTransitionData?.driver?.role=='customer'"
                          [value]="'customer'" style="margin: 1%;" (click)='DriverRoleC()'>
                          <i>Συνεργάτης</i>
                        </mat-radio-button>

                        <mat-radio-button *ngIf="checkUrl" [checked]="true" [value]="'customer'" style="margin: 1%;"
                          (click)='DriverRoleC()'>
                          <i>Συνεργάτης</i>
                        </mat-radio-button>


                      </mat-radio-group>
                      <div *ngIf="form.get('driver').invalid && (form.get('driver').dirty ||
                        form.get('driver').touched)" class="alert">
                        Παρακαλώ προσθέστε τύπο Οδηγού
                      </div>
                    </div>


                    <div>
                      <app-driver-selector *ngIf='boolDriverRole' formControlName="driver_id"></app-driver-selector>
                      <app-driver-selector *ngIf='!boolDriverRole' formControlName="driver_id" [addBtn]="true">
                      </app-driver-selector>
                      <div *ngIf="form.get('driver_id').invalid && (form.get('driver_id').dirty ||
                        form.get('driver_id').touched)" class="alert">
                        Παρακαλώ προσθέστε Οδηγό
                      </div>
                    </div>

                    <br>

                    <div>
                      <app-vehicle-selector formControlName="vehicle_id" [vehicle_status]="['active']"
                        [status2]="['available']" [from]="[co_datetime.value]" [to]="[ci_datetime.value]" #vehicle>
                      </app-vehicle-selector>
                      <div *ngIf="form.get('vehicle_id').invalid && (form.get('vehicle_id').dirty ||
                         form.get('vehicle_id').touched)" class="alert">
                        Παρακαλώ προσθέστε Πινακίδα
                      </div>
                    </div>

                  </div>

                  <div class="col-11 m-1 p-2" style='border: 1px solid;border-radius: 10px 10px 10px 10px;'>
                    <h3>Γενικές Πληροφορίες</h3>
                    <hr>
                    <mat-form-field class="col-3 m-1">
                      <mat-label>Κατάσταση:</mat-label>
                      <input readonly matInput formControlName="status">
                    </mat-form-field>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>Απόσταση:</mat-label>
                      <input readonly matInput formControlName="distance">
                    </mat-form-field>
                    <br>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>Αρχεία:</mat-label>
                      <input readonly matInput formControlName="documentsCount">
                    </mat-form-field>
                  </div>

                  <br><br>


                  <div class="col-11 m-1 p-2" style='border: 1px solid;border-radius: 10px 10px 10px 10px;'>
                    <h3>Πληροφορίες Αναχώρησης</h3>

                    <div>
                      <app-datetimepicker #ci_datetime formControlName="ci_datetime"></app-datetimepicker>
                      <div *ngIf="form.get('ci_datetime').invalid && (form.get('ci_datetime').dirty ||
                        form.get('ci_datetime').touched)" class="alert">
                        Παρακαλώ προσθέστε ημερομηνία
                      </div>
                    </div>


                    <app-station-selector #stationCI formControlName="ci_station_id"></app-station-selector>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>Τοποθεσία</mat-label>
                      <app-place-selector #placeI [include]='includeCIPlaces' formControlName="s_ci_place">
                      </app-place-selector>
                    </mat-form-field>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>*Χιλιόμετρα:</mat-label>
                      <input matInput formControlName="ci_km">
                    </mat-form-field>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>*Στάθμη καυσίμου:</mat-label>
                      <input fuelRange matInput formControlName="ci_fuel_level">
                      <span matSuffix>/8</span>
                    </mat-form-field>

                    <!-- <mat-form-field>
                                      <mat-label>*Χρήστης:</mat-label>
                                      <mat-select formControlName="co_user_id">
                                        <mat-option *ngFor="let u of users" [value]="u.id">{{ u?.name }}</mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                    <app-user-selector readonly formControlName="ci_user_id"></app-user-selector>

                    <mat-form-field class="col-11 m-1">
                      <mat-label>Σημειώσεις:</mat-label>
                      <textarea matInput formControlName="ci_notes"></textarea>
                    </mat-form-field>


                  </div>

                  <div class="col-11 m-1 p-2" style='border: 1px solid;border-radius: 10px 10px 10px 10px;'>
                    <h3>Πληροφορίες Άφιξης</h3>
                    <hr>


                    <div>
                      <app-datetimepicker #co_datetime formControlName="co_datetime"></app-datetimepicker>
                      <div *ngIf="form.get('co_datetime').invalid && (form.get('co_datetime').dirty ||
                          form.get('co_datetime').touched)" class="alert">
                        Παρακαλώ προσθέστε ημερομηνία
                      </div>
                    </div>


                    <div>
                      <app-station-selector #stationCO formControlName="co_station_id"></app-station-selector>
                      <div *ngIf="form.get('co_station_id').invalid && (form.get('co_station_id').dirty ||
                        form.get('co_station_id').touched)" class="alert">
                        Παρακαλώ προσθέστε σταθμό
                      </div>
                    </div>


                    <mat-form-field class="col-3 m-1">
                      <mat-label>Τοποθεσία</mat-label>
                      <app-place-selector #placeO [include]='includeCOPlaces' formControlName="s_co_place">
                      </app-place-selector>
                    </mat-form-field>

                    <div>
                      <mat-form-field class="col-3 m-1">
                        <mat-label>*Χιλιόμετρα:</mat-label>
                        <input matInput formControlName="co_km">
                      </mat-form-field>
                      <div *ngIf="form.get('co_km').invalid && (form.get('co_km').dirty ||
                        form.get('co_km').touched)" class="alert">
                        Παρακαλώ προσθέστε Χιλιόμετρα
                      </div>
                    </div>


                    <div>
                      <mat-form-field class="col-3 m-1">
                        <mat-label>*Στάθμη καυσίμου:</mat-label>
                        <input fuelRange matInput formControlName="co_fuel_level">
                        <span matSuffix>/8</span>
                      </mat-form-field>
                      <div *ngIf="form.get('co_fuel_level').invalid && (form.get('co_fuel_level').dirty ||
                        form.get('co_fuel_level').touched)" class="alert">
                        Παρακαλώ προσθέστε κάυσιμο
                      </div>
                    </div>


                    <!-- <mat-form-field>
                          <mat-label>*Χρήστης:</mat-label>
                          <mat-select formControlName="ci_user_id">
                            <mat-option *ngFor="let u of users" [value]="u.id">{{ u?.name }}</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                    <app-user-selector readonly formControlName="co_user_id"></app-user-selector>

                    <mat-form-field class="col-11 m-1">
                      <mat-label>Σημειώσεις:</mat-label>
                      <textarea matInput formControlName="co_notes"></textarea>
                    </mat-form-field>

                  </div>

                  <div class="col-11 m-1">
                    <mat-label>Επισυναπτόμενα έγγραφα</mat-label>
                    <app-document-upload [multiple]="true" formControlName="documents"></app-document-upload>
                  </div>


                  <mat-form-field class="col-11 m-1">
                    <mat-label>Σημειώσεις μετακίνησης:</mat-label>
                    <textarea matInput formControlName="notes"></textarea>
                  </mat-form-field>
                </ng-template>

              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>



</app-single-form>
