<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">

                <ng-template info [ngIf]="true">

                  <mat-form-field class="col">
                    <mat-label>Τίτλος</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>

                  <mat-form-field class="col">
                    <mat-label>International Title</mat-label>
                    <input matInput formControlName="international_title">
                  </mat-form-field>

                  <mat-form-field class="col">
                    <mat-label>Δεκαεξαδικός κωδικός</mat-label>
                    <input type='color' matInput formControlName="hex_code">
                  </mat-form-field>

                </ng-template>

              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>


</app-single-form>
