<!-- <h1 class="title mt-0 mb-1"> {{breadcrumbsSrv.TitleSubject.getValue()}}</h1> -->


<h6 class="" *ngFor="let crumb of crumbs$ | async; trackBy: trackByValue;let mylast=last;">
  <a [routerLink]="[crumb.link]" [queryParams]="crumb.queryParams"> <span
      *ngIf="mylast">{{ crumb.label }} {{breadcrumbsSrv.TitleSubject.getValue()}}</span></a>
</h6>



<div class="flex items-center" #scroll>

  <div
    class="vex-breadcrumb body-2 text-hint leading-none hover:text-primary no-underline trans-ease-out ltr:mr-2 rtl:ml-2">
    <div class='row'>

      <a [routerLink]="['/home']">
        <ic-icon [icon]="icHome" inline="true" size="20px"></ic-icon>
      </a>
    </div>

    <!-- <div>
      <a [routerLink]="['/users',currentUser['id']]">
        <p>{{currentUser['name']}}</p>
      </a>
    </div> -->

  </div>

  <ng-container *ngFor="let crumb of crumbs$ | async; trackBy: trackByValue;let mylast=last;">
    <div class="w-1 h-1 bg-gray rounded-full ltr:mr-2 rtl:ml-2 ml-5"></div>
    <div
      class="vex-breadcrumb body-2 text-hint leading-none hover:text-primary no-underline trans-ease-out ltr:mr-2 rtl:ml-2">
      <a [routerLink]="[crumb.link]" [queryParams]="crumb.queryParams">{{ crumb.label }} <span
          *ngIf="mylast">{{breadcrumbsSrv.TitleSubject.getValue()}}</span></a>
    </div>


  </ng-container>

  <!-- <div class="ml-3 vex-breadcrumb body-2 text-hint leading-none no-underline trans-ease-out ltr:mr-2 rtl:ml-2">
    {{breadcrumbsSrv.TitleSubject.getValue()}}
  </div> -->
</div>
