
::ng-deep .mat-tab-label .mat-tab-label-content {
// color: rgb(255, 255, 255) !important;
}


.readonly {
  opacity: 0.5;
  pointer-events: none;
}

.readonly2 {
  opacity: 0.5;
  pointer-events: none;
}
