<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete"
  (keydown.enter)="$event.preventDefault()">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">

                <br>

                <mat-form-field class="col-5 m-1 readonly2">
                  <mat-label>Πινακίδα</mat-label>
                  <input matInput [value]="licence_plates[0]?.licence_plate" />
                </mat-form-field>

                <mat-form-field class="col-5 m-1 readonly2">
                  <mat-label>Διαθεσιμότητα</mat-label>
                  <input matInput formControlName="status" />
                </mat-form-field>

                <br>

                <app-multilingual-template [formGroup]="form">
                  <ng-container info>

                    <div class="row">

                      <div class="col-5 m-1">
                        <mat-form-field class="col-12">
                          <mat-label>* Μοντέλο αυτοκινήτου</mat-label>
                          <input matInput formControlName="model" />
                        </mat-form-field>
                        <div *ngIf="form.get('model').invalid && (form.get('model').dirty ||
              form.get('model').touched)" class="alert">
                          Παρακαλώ προσθέστε Μοντέλο αυτοκινήτου
                        </div>
                      </div>

                      <mat-form-field class="col-5 m-1">
                        <mat-label>Χιλιόμετρα</mat-label>
                        <input numeric decimals="0" matInput formControlName="km" />
                      </mat-form-field>

                    </div>


                    <div class="row">

                      <app-station-selector class="col-6 mt-5" #station formControlName="station_id" [addBtn]="true"
                        [editBtn]="true">
                      </app-station-selector>

                      <mat-form-field class="col-6">
                        <mat-label>Τοποθεσία</mat-label>
                        <app-place-selector #place [include]="includePlaces" formControlName="place">
                        </app-place-selector>
                      </mat-form-field>

                    </div>



                    <div class="row">

                      <div class="col-3 m-1">
                        <mat-form-field class="col-12">
                          <mat-label>* Αντιπροσωπία αυτοκινήτου</mat-label>
                          <input matInput formControlName="make" />
                        </mat-form-field>
                        <div *ngIf="form.get('make').invalid && (form.get('make').dirty ||
              form.get('make').touched)" class="alert">
                          Παρακαλώ προσθέστε Αντιπροσωπία αυτοκινήτου
                        </div>
                      </div>


                      <div class="col-4 m-1">
                        <mat-form-field class="col-12">
                          <mat-label>* Αριθμός Πλαισίου (VIN)</mat-label>
                          <input matInput formControlName="vin" />
                        </mat-form-field>
                        <div *ngIf="form.get('vin').invalid && (form.get('vin').dirty ||
              form.get('vin').touched)" class="alert">
                          Παρακαλώ προσθέστε Αριθμός Πλαισίου
                        </div>
                      </div>


                      <div class="col-3 m-1">
                        <mat-form-field class="col-12">
                          <mat-label> *Τύπος</mat-label>
                          <mat-select formControlName="type_id">
                            <mat-option *ngFor="let t of types" [value]="t.id">{{ t?.profiles?.el?.title }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.get('type_id').invalid && (form.get('type_id').dirty ||
              form.get('type_id').touched)" class="alert">
                          Παρακαλώ προσθέστε Τύπο
                        </div>
                      </div>

                    </div>


                    <div class="col-3 m-1">
                      <mat-label>Εικόνες</mat-label>
                      <app-image-upload [multiple]="true" formControlName="images"></app-image-upload>
                    </div>

                    <br>



                    <div class="row">

                      <div class="col-3">
                        <mat-form-field class="col-12">
                          <mat-label>* Κυβισμός cm3 </mat-label>
                          <input matInput numeric decimals="0" formControlName="engine" />
                        </mat-form-field>
                        <div *ngIf="form.get('engine').invalid && (form.get('engine').dirty ||
              form.get('engine').touched)" class="alert">
                          Παρακαλώ προσθέστε Κυβισμό
                        </div>
                      </div>


                      <mat-form-field class="col-3">
                        <mat-label>Φορολογήσιμη ισχύς </mat-label>
                        <input matInput numeric decimals="0" formControlName="power" />
                      </mat-form-field>

                      <mat-form-field class="col-3">
                        <mat-label>Ίπποι</mat-label>
                        <input matInput numeric decimals="0" formControlName="hp" />
                      </mat-form-field>


                      <mat-form-field class="col-3">
                        <mat-label>Σύστημα κίνησης τροχών</mat-label>
                        <mat-select formControlName="use_type_id">
                          <mat-option *ngFor="let d of drive_types" [value]="d.id">{{ d?.title }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>



                    <div class="row">

                      <div class="col-3">
                        <mat-form-field class="col-12">
                          <mat-label>*Σασμάν</mat-label>
                          <mat-select formControlName="transmission_type_id">
                            <mat-option *ngFor="let t of transmission_type" [value]="t.id">{{ t?.title }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="form.get('transmission_type_id').invalid && (form.get('transmission_type_id').dirty ||
              form.get('transmission_type_id').touched)" class="alert">
                          Παρακαλώ προσθέστε Σασμάν
                        </div>
                      </div>



                      <mat-form-field class="col-3">
                        <mat-label>*Κατάσταση Οχήματος</mat-label>
                        <mat-select formControlName="status_id">
                          <mat-option *ngFor="let vs of vehicle_statusArray" [value]="vs.id">
                            {{ vs?.profiles?.el?.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="col-3">
                        <mat-label>Κλειδιά-Κωδικός:</mat-label>
                        <input matInput formControlName="key_code" />
                      </mat-form-field>

                      <mat-form-field class="col-3">
                        <mat-label>Κλειδιά-Ποσότητα:</mat-label>
                        <input matInput numeric decimals="0" formControlName="keys_quantity" />
                      </mat-form-field>

                    </div>


                    <mat-form-field class="col-3 m-1">
                      <mat-label>Doors</mat-label>
                      <input matInput numeric decimals="0" formControlName="doors" />
                    </mat-form-field>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>Seats</mat-label>
                      <input matInput numeric decimals="0" formControlName="seats" />
                    </mat-form-field>

                    <mat-form-field class="col-3 m-1">
                      <mat-label>Euroclass</mat-label>
                      <input matInput formControlName="euroclass" />
                    </mat-form-field>


                    <div class="col-12">
                      <h4 style="text-align:center; margin:2%;">Περισσότερες Πληροφορίες</h4>
                      <hr />


                      <div class="row">
                        <mat-form-field class="col-3">
                          <mat-label>* Τύπος καυσίμου</mat-label>
                          <mat-select formControlName="fuel_type_id">
                            <mat-option *ngFor="let f of fuel_types" [value]="f.id">{{ f?.title }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Χρώμα</mat-label>
                          <mat-select formControlName="color_type_id">
                            <mat-option *ngFor="let c of color_types" [value]="c.id" style="border: 3px solid;"
                              [style]="{'border-color':c.hex_code}">{{ c?.title}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>*Ιδιοκτησία</mat-label>
                          <mat-select formControlName="ownership_type_id">
                            <mat-option *ngFor="let o of ownership_types" [value]="o.id">{{ o?.title }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="col-3">
                          <mat-form-field class="col-12">
                            <mat-label>*Χρήση</mat-label>
                            <mat-select formControlName="drive_type_id">
                              <mat-option *ngFor="let u of use_types" [value]="u.id">{{ u?.title }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div *ngIf="form.get('drive_type_id').invalid && (form.get('drive_type_id').dirty ||
              form.get('drive_type_id').touched)" class="alert">
                            Παρακαλώ προσθέστε Χρήση
                          </div>
                        </div>

                      </div>


                      <div class="row">
                        <mat-form-field class="col-3">
                          <mat-label>*Κλάση - Ομάδα</mat-label>
                          <mat-select formControlName="class_type_id">
                            <mat-option *ngFor="let c of class_types" [value]="c.id">{{ c?.title}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία λήξης της εγγύησης αυτοκινήτου</mat-label>
                          <input matInput [matDatepicker]="picker1" formControlName="warranty_expiration">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Αριθμός μηχανής/κινητήρα</mat-label>
                          <input matInput formControlName="engine_number" />
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>* Ντεπόζιτο (lt)</mat-label>
                          <input matInput formControlName="tank" />
                        </mat-form-field>

                      </div>

                      <div class="row">

                        <mat-form-field class="col-3">
                          <mat-label>Ρύποι CO2 </mat-label>
                          <input matInput formControlName="pollution" />
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Έτος κατασκευής </mat-label>
                          <input matInput formControlName="manufactured_year" />
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Radio Code </mat-label>
                          <input matInput formControlName="radio_code" />
                        </mat-form-field>


                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία αγοράς</mat-label>
                          <input matInput [matDatepicker]="picker2" formControlName="purchase_date">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>

                      </div>


                      <div class="row">
                        <mat-form-field class="col-3">
                          <mat-label>Ποσό αγοράς </mat-label>
                          <input matInput formControlName="purchase_amount" />
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Ποσό Αποσβέσεων </mat-label>
                          <input matInput formControlName="depreciation_rate" />
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Ποσό Αποσβέσεων Μείωση/Έτος </mat-label>
                          <input matInput formControlName="depreciation_rate_year" />
                        </mat-form-field>

                        <mat-form-field class="col-3">
                          <mat-label>Ποσό Πώλησης </mat-label>
                          <input matInput formControlName="sale_amount" />
                        </mat-form-field>

                      </div>


                      <div class="row">

                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία Πώλησης</mat-label>
                          <input matInput [matDatepicker]="picker3" formControlName="sale_date">
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία Buy Back</mat-label>
                          <input matInput [matDatepicker]="picker4" formControlName="buy_back">
                          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                          <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία έκδοσης της πρώτης άδειας κυκλοφορίας</mat-label>
                          <input matInput [matDatepicker]="picker5"
                            formControlName="first_date_marketing_authorisation">
                          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                          <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>



                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία πρώτης αδείας στην Ελλάδα</mat-label>
                          <input matInput [matDatepicker]="picker6"
                            formControlName="first_date_marketing_authorisation_gr">
                          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>

                      </div>



                      <div class="row">

                        <mat-form-field class="col-3">
                          <mat-label>* Ημερομηνία εισαγωγής στον στόλο</mat-label>
                          <input matInput [matDatepicker]="picker7" formControlName="import_to_system">
                          <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                          <mat-datepicker #picker7></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία εξαγωγής από τον στόλο</mat-label>
                          <input matInput [matDatepicker]="picker8" formControlName="export_from_system">
                          <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                          <mat-datepicker #picker8></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field class="col-3">
                          <mat-label>Ημερομηνία εξαγωγής από τον στόλο (πρόβλεψη)</mat-label>
                          <input matInput [matDatepicker]="picker9" formControlName="forecast_export_from_system">
                          <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                          <mat-datepicker #picker9></mat-datepicker>
                        </mat-form-field>

                        <mat-checkbox formControlName="start_stop" class="col-3 mt-5">
                          <mat-label>Σύστημα λειτουργίας Start-Stop (μπαταρία)</mat-label>
                        </mat-checkbox>


                      </div>


                      <div class="col-6 m-2">
                        <mat-label>Λοιπά Έγγραφα:</mat-label>&nbsp;
                        <app-document-upload [multiple]="true" formControlName="documents"></app-document-upload>
                      </div>


                    </div>
                  </ng-container>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      Πινακίδες
                    </ng-template>
                    <div class="form-fields">
                      <div *ngFor="let li of licence_plates; let i = index;">
                        <mat-form-field class="col-3 m-1">
                          <mat-label>Πινακίδα</mat-label>
                          <input matInput [value]="li.licence_plate" />
                        </mat-form-field>


                        <mat-form-field class="col-3 m-1">
                          <mat-label>Ημερομηνία</mat-label>
                          <input matInput [matDatepicker]="picker10" [value]="li.registration_date">
                          <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                          <mat-datepicker #picker10></mat-datepicker>
                        </mat-form-field>


                        <button type="button" (click)="editPlate(li)" mat-icon-button matSuffix>
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" color="warn" (click)="removePlate(i)" mat-icon-button>
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <button type="button" color="primary" mat-raised-button (click)="addPlate()">
                        <mat-icon>add</mat-icon> Προσθήκη
                      </button>
                    </div>

                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      Περιοδικά τέλη
                    </ng-template>
                    <mat-tab-group>
                      <mat-tab>
                        <div *ngFor="let p of periodic_fees_types;let i = index;">
                          <ng-template mat-tab-label>
                            {{p?.title}}
                          </ng-template>
                          <div *ngFor="let f of periodic_fees" style="margin-left:1%;">
                            <mat-form-field *ngIf="p.id==f.periodic_fee_type_id" class="col-3 m-1">
                              <mat-label>{{p.title}}</mat-label>
                              <input matInput
                                [value]="p.id==f.periodic_fee_type_id ? f.title+' '+f.description : null" />
                              <button type="button" (click)="editPeriodic(f)" mat-icon-button matSuffix>
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button type="button" color="warn" (click)="removePeriodic(i)" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>
                        </div>
                        <button type="button" color="primary" mat-raised-button (click)="addPeriodic()">
                          <mat-icon>add</mat-icon> Προσθήκη
                        </button>
                      </mat-tab>
                    </mat-tab-group>
                  </mat-tab>
                </app-multilingual-template>


              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>



</app-single-form>
