<ng-template #hex_code let-element>
  <span class='color'
      [style.background-color]="element.hex_code?.hex_code ? element.hex_code.hex_code : '#ffffff'"></span>
</ng-template>


<ng-template #status let-element>
  <span class="label-orange" *ngIf="element.status=='rental'; else elseBlock">{{element.status}}
   <a style="cursor: pointer;" target="_blank" [routerLink]="['/rentals',element.vehicle_statuses?.[0]?.rental_id]">
     <mat-icon >link
     </mat-icon>
   </a>
  </span>
  <ng-template #elseBlock>
  <span class="label-green">{{element.status}}
 </span>
  </ng-template>
</ng-template>

<ng-template #station_filter let-filter>
  <app-station-selector class="col-12" #station [label]="filter.label" [(ngModel)]="filter.value">
  </app-station-selector>
</ng-template>


<ng-template #status_filter let-filter>
   <mat-form-field class="col-10">
    <mat-label>Κατάσταση Διαθεσιμότητας</mat-label>
     <mat-select #matRef  [(ngModel)]="filter.value">
       <mat-option [value]="''">Όλα</mat-option>
       <mat-option [value]="'available'">Διαθέσιμα</mat-option>
       <mat-option [value]="'rental'">Rental</mat-option>
     </mat-select>
   </mat-form-field>
    <mat-icon class="col-1" *ngIf="matRef.value" (click)="clear()">clear</mat-icon>
</ng-template>


<ng-template #availability_filter let-filter>
  <mat-label>Διαθεσιμότητα</mat-label>
    <!-- <input #input1 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker> -->
    <app-datetimepicker class="col-12" #picker1 [(ngModel)]="filter.value"></app-datetimepicker>

  <mat-icon class="col-1" *ngIf="picker1.value" (click)="clearDates1()">clear</mat-icon>
</ng-template>


 <ng-template #vehicle_status_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Κατάσταση Οχήματος</mat-label>
    <mat-select #matRef2 [(ngModel)]="filter.value">
      <mat-option *ngFor="let vs of vehicle_statusArray" [value]="vs.slug">{{ vs?.profiles?.el?.title }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="matRef2.value" (click)="clear2()">clear</mat-icon>
 </ng-template>

  <ng-template #ownership_filter let-filter>
    <mat-form-field class="col-10">
      <mat-label>Ιδιοκτησία</mat-label>
      <mat-select #matRef3 [(ngModel)]="filter.value">
        <mat-option *ngFor="let o of ownership_types" [value]="o.id">{{ o?.title }}</mat-option>
      </mat-select>
    </mat-form-field>
 <mat-icon class="col-1" *ngIf="matRef3.value" (click)="clear3()">clear</mat-icon>
  </ng-template>

   <ng-template #group_filter let-filter>
    <app-group-selector [clearBtn]="true" class="col-10" #chargeType [label]="filter.label" [(ngModel)]="filter.value">
    </app-group-selector>
   </ng-template>



<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ vehicleSrv.total_VehicleSub.getValue()?.results ?? 0 }}</h6>
</div>

<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικά Αποτελέσματα: {{ vehicleSrv.total_VehicleSub.getValue()?.g_results ?? 0 }}</h6>
</div>


<ng-template #import_to_system_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Hμ/νία Eισαγωγής</mat-label>
    <input #input2 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input2.value" (click)="clearDates2()">clear</mat-icon>
</ng-template>


<ng-template #purchase_date_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Hμ/νία Αγοράς</mat-label>
    <input #input3 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker3">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input3.value" (click)="clearDates3()">clear</mat-icon>
</ng-template>
