<div class='row  ml-0 mr-0'>
  <div class='col-md-12 pl-0'>
    <div class="row g-0">

      <div class='col-12 p-1'>
        <mat-card>
          <mat-card-content>
            <div class="row wrap">



              <div class="col-11 p-1 m-1" style="border: 1px solid black;border-radius:15px 15px 15px 15px;">
                <h5 style="font-weight:bold;text-align:center;" class="p-1 m-2">Υπολογισμός ΦΠΑ</h5>
                <br>

                <form [formGroup]="myForm" novalidate>

                  <div class="col-10 ml-3">

                    <mat-form-field class="col-5 m-1">
                      <mat-label>Ποσοστό ΦΠΑ
                      </mat-label>
                      <input type="number" matInput formControlName="percentageFPA" />
                    </mat-form-field>

                    <mat-form-field class="col-5 m-1">
                      <mat-label>Ποσό ΦΠΑ
                      </mat-label>
                      <input type="number" matInput formControlName="amountFPA" />
                    </mat-form-field>

                  </div>

                  <div class="col-10 ml-3">

                    <mat-form-field class="col-5 m-1">
                      <mat-label>Τιμή χωρίς ΦΠΑ
                      </mat-label>
                      <input type="number" matInput formControlName="priceWithoutFPA" />
                      <button (click)="calculateWithout()" mat-raised-button color="primary">Υπολογισμός</button>
                    </mat-form-field>


                    <mat-form-field class="col-5 m-1">
                      <mat-label>Τιμή με ΦΠΑ
                      </mat-label>
                      <input type="number" matInput formControlName="priceWithFPA" />
                      <button (click)="calculateWith()" mat-raised-button color="primary">Υπολογισμός</button>
                    </mat-form-field>

                  </div>


                  <button class="col-3 m-1" (click)="clear()" mat-raised-button color="accent">Καθαρισμός</button>
                </form>
              </div>


            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
