<div [formGroup]="form">
  <mat-card>
    <mat-card-title>
      <div class="flex">
        <mat-icon color="primary">attach_money</mat-icon>
        &nbsp;&nbsp;
        <h3>Περίληψη Χρεώσεων</h3>
      </div>
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div *ngIf="checkUrl=='rentals'">
          <mat-form-field>
            <mat-label>Man. Agr. #</mat-label>
            <input matInput formControlName="manual_agreement" />
          </mat-form-field>
        </div>

          <div>
              <mat-form-field>
                <mat-label> GRP Χρέωσης</mat-label>
                <mat-select formControlName="charge_type_id">
                  <mat-option *ngFor="let g of groups" [value]="g.id">{{ g?.category?.profiles.el.title }} - {{ g?.international_code }}</mat-option>
                </mat-select>
              </mat-form-field>
            <div *ngIf="form.get('charge_type_id').invalid && (form.get('charge_type_id').dirty ||
              form.get('charge_type_id').touched)" class="alert">
              Παρακαλώ επιλέξτε group
            </div>
          </div>


        <mat-form-field class="col-6">
          <mat-label>Δωρεάν ΧΛΜ</mat-label>
          <input #freeKm numeric matInput formControlName="distance" (keydown.enter)='$event.target.blur()' />
          <span matSuffix>km</span>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Κόστος Έξτρα ΧΛΜ</mat-label>
          <input #extraKm numeric decimals="2" matInput formControlName="distance_rate"
            (keydown.enter)='$event.target.blur()' />
          <span matSuffix>€</span>
        </mat-form-field>

        <mat-form-field class="col-6" (click)="$event.preventDefault()">
          <mat-label>Μίσθωμα</mat-label>
          <input matInput #rate numeric decimals="2" (keydown.enter)='$event.target.blur()'
            [value]="form?.get('rate')?.value | number: '1.2-2'" />
          <span matSuffix>/</span>
          <span matSuffix readonly>{{ form?.get('rental_fee')?.value | number: '1.2-2' }}</span>
          <span matSuffix>€</span>
          <button mat-icon-button matSuffix>
            <mat-icon type="button" (click)="showItems($event,rental,'rental_fee')">edit</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="col-6" (click)="showItems($event,transport,'transport_fee')">
          <mat-label>Υπηρεσίες</mat-label>
          <input matInput [value]="form.get('transport_fee')?.value | number: '1.2-2'" readonly />
          <span matSuffix>€</span>
          <button mat-icon-button matSuffix>
            <mat-icon>edit</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="col-6" (click)="showItems($event,insurances,'insurance_fee')">
          <mat-label>Ασφάλιση</mat-label>
          <input style="max-width:40%;" matInput [value]="form.get('insurance_fee')?.value | number: '1.2-2'" readonly />
          <span matSuffix>€</span>
          <button mat-icon-button matSuffix>
            <mat-icon>edit</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="col-6" (click)="showItems($event,extras,'options_fee')">
          <mat-label>Παροχές</mat-label>
          <input style="max-width:40%;" matInput [value]="form.get('options_fee')?.value | number: '1.2-2'" readonly />
          <span matSuffix>€</span>
          <button mat-icon-button matSuffix>
            <mat-icon>edit</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Καύσιμα</mat-label>
          <!-- <input matInput formControlName="fuel_fee" /> -->
          <mat-select formControlName="fuel_fee">
            <mat-option [value]="0">
              Επιλέξτε...
            </mat-option>
            <mat-option [value]="1.58">
              FF - 1.58€
            </mat-option>
            <mat-option [value]="25.87">
              SL - 25.87€
            </mat-option>
            <mat-option [value]="35.98">
              FE - 35.98€
            </mat-option>
            <mat-option [value]="69.90">
              FH - 69.90€
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [ngClass]="extra_charges>0 ? '': 'hide'  ">
          <mat-label>Λοιπές χρεώσεις:</mat-label>
          <input #extraCharges numeric decimals="2" matInput [value]="extra_charges"
            (keydown.enter)='$event.target.blur()' />
          <span matSuffix>€</span>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Υποσύνολο</mat-label>
          <input hidden #subcharges [value]="
          roundTo(form.get('rental_fee')?.value,2) +
          roundTo(form.get('transport_fee')?.value,2) +
           roundTo(form.get('insurance_fee')?.value,2) +
           roundTo(form.get('options_fee')?.value,2) +
           roundTo(form.get('fuel_fee')?.value,2)+ roundTo(extraCharges.value,2)
        " />
          <!-- // extension_rate-->
          <input readonly matInput [value]="subcharges.value | number: '1.2-2'" />
          <span matSuffix>€</span>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Έκπτωση</mat-label>
          <!-- (change)="showValue($event)" -->
          <input numeric decimals="2" matInput formControlName="discount" (keydown.enter)='$event.target.blur()' />
          <input hidden numeric decimals="2" #discount_fee
            [value]="(Number(subcharges.value) * form.get('discount')?.value) / 100" />
          <span matSuffix>%</span>
          <span matSuffix>
            / <span>{{ discount_fee.value | number: "1.2-2" }}€</span></span>
        </mat-form-field>

        <!-- <input hidden #total [value]="Number(subcharges.value) - Number(discount_fee.value)"/> -->
        <input hidden numeric decimals="2" #total
          [value]="Number(subcharges.value) - Number(form.get('discount_fee')?.value)" />
        <input hidden numeric decimals="2" #vat_fee [value]="
        ((Number(total.value) / (1 + form.get('vat')?.value / 100)) *
          form.get('vat')?.value) /
        100
      " />
        <mat-form-field class="col-4">
          <mat-label>Καθαρό Σύνολο</mat-label>
          <input readonly numeric decimals="2" matInput
            [value]="Number(total.value) - Number(vat_fee.value) | number: '1.2-2'" />
          <span matSuffix>€</span>
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>ΦΠΑ</mat-label>
          <input readonly matInput numeric formControlName="vat" />
          <span matSuffix>%</span>
          <span matSuffix>
            / <span>{{ vat_fee.value | number: "1.2-2" }}</span>€</span>
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>Τελικό Σύνολο</mat-label>
          <input class="inputbold" #final numeric decimals="2" matInput [value]="total.value | number: '1.2-2'"
            (keydown.enter)='$event.target.blur()' />
          <!-- <input matInput [value]="total.value | number: '.2'" (change)="calcDiscount($event)" /> -->
          <span matSuffix>€</span>
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>Voucher</mat-label>
          <input matInput [value]="form.get('voucher')?.value | number: '1.2-2' " readonly />
          <span matSuffix>€</span>
        </mat-form-field>

        <ng-template [ngIf]="checkUrl!='quotes'">
          <mat-form-field class="col-4">
            <mat-label>Πληρωτέο</mat-label>
            <input matInput #total_paid [value]="paid" readonly />
            <span matSuffix>€</span>
          </mat-form-field>
          <mat-form-field class="col-4">
            <mat-label>Υπόλοιπο</mat-label>
            <!-- <input matInput [value]="Number(total.value) - Number(total_paid.value) | number: '1.2-2'" readonly /> -->
            <input class="inputbold" matInput [value]="form.get('balance')?.value | number: '1.2-2'" readonly />
            <span matSuffix>€</span>
          </mat-form-field>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-template #rental>
    <ng-container *ngTemplateOutlet="
      summaryTemplate;
      context: { $implicit: { type: 'rental_charges', fee: 'rental_fee' } }
    ">
    </ng-container>
  </ng-template>
  <ng-template #transport>
    <ng-container *ngTemplateOutlet="
      summaryTemplate;
      context: { $implicit: { type: 'transport', fee: 'transport_fee' } }
    ">
    </ng-container>
  </ng-template>
  <ng-template #insurances>
    <ng-container *ngTemplateOutlet="
      summaryTemplate;
      context: { $implicit: { type: 'insurances', fee: 'insurance_fee' } }
    ">
    </ng-container>
  </ng-template>
  <ng-template #extras>
    <ng-container *ngTemplateOutlet="
      summaryTemplate;
      context: { $implicit: { type: 'extras', fee: 'options_fee' } }
    ">
    </ng-container>
  </ng-template>

  <!-- <div class="mat-dialog-content">
    <ng-template #formRef></ng-template>
  </div> -->
  <ng-template #summaryTemplate let-summary>
    <div>
      <div mat-dialog-content>
        <table formArrayName="items">
          <tr>
            <th>ΤΜΧ</th>
            <th>Χρέωση</th>
            <th>Είσπραξη από</th>
            <th>Ημερήσια Τιμή</th>
            <th>Καθαρή Αξία</th>
            <th>Τελικό Σύνολο</th>
            <th *ngIf="checkUrl!='quotes'">Ημερομηνία έναρξης</th>
            <th *ngIf="checkUrl!='quotes'">Ημερομηνία λήξης</th>
          </tr>
          <ng-container *ngFor="let itemForm of items.controls; let i = index">
            <tr *ngIf="itemForm.value.option.option_type == summary.type">
              <ng-container [formGroupName]="i">
                <td>
                  <mat-checkbox *ngIf="summary.type!='extras'" formControlName="quantity"
                    (change)="changeQuantity(itemForm)">
                  </mat-checkbox>
                  <mat-form-field *ngIf="summary.type=='extras'">
                    <input matInput numeric formControlName="quantity" (change)="changeQuantity(itemForm)">
                  </mat-form-field>
                </td>

                <td style="width:200px;">{{ itemForm.value.option.profiles.el.title }}</td>

                <td>
                  <mat-form-field>
                    <mat-select formControlName="payer">
                      <ng-container *ngFor="let payer of summary_payers | keyvalue">
                        <mat-option *ngIf="payer.value.name" [value]="payer.key">
                          {{ payer.value.text }} {{ payer.value.name }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field>
                    <input matInput numeric decimals="2" formControlName="cost" (click)="$event.target.select()"
                      (change)="changeQuantity(itemForm)">
                    <!-- <input matInput formControlName="cost" (change)="changeCost(itemForm)"/> -->
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field><input readonly matInput [value]="
                      (itemForm.value.total_cost ?? 0) / +(1+(roundTo(form.get('vat').value/100,2))) | number: '1.2-2'
                    " /></mat-form-field>
                </td>

                <td>
                  <mat-form-field [ngClass]="itemForm?.get('quantity')?.value < 1 ? 'readonly': ''">
                    <input matInput numeric decimals="2" formControlName="total_cost" (click)="$event.target.select()"
                      (change)="changeTotalCost(itemForm)">
                  </mat-form-field>
                </td>

                <td [ngClass]="checkUrl=='quotes' ? 'hide' : '' ">

                     <app-datetimepicker formControlName="start"
                    (changeDate)="changeItemDuration(itemForm)"
                     [min]="
                     itemForm.get('start')?.value
                     ? itemForm.get('start')?.value
                     : form.get('checkout_datetime')?.value
                     " [max]="
                     form.get('checkin_datetime')?.value
                     ? form.get('checkin_datetime')?.value
                     : null
                     ">
                  </app-datetimepicker>
                </td>

                <td [ngClass]="checkUrl=='quotes' ? 'hide' : '' ">

                    <app-datetimepicker formControlName="end"
                    (changeDate)="changeItemDuration(itemForm)"
                     [min]="
                     itemForm.get('start')?.value
                     ? itemForm.get('start')?.value
                     : form.get('checkout_datetime')?.value
                     " [max]="
                     form.get('checkin_datetime')?.value
                     ? form.get('checkin_datetime')?.value
                     : null
                     ">
                  </app-datetimepicker>
                </td>

              </ng-container>
            </tr>
          </ng-container>
        </table>
        <mat-checkbox (change)="vatInclude()"
          *ngIf="summary.type=='rental_charges'&& checkUrl=='bookings' || checkUrl=='quotes'"
          [checked]="form.get('vat_included').value" #tooltip="matTooltip" matTooltip="toolip"
          [matTooltipPosition]="position3.value" matTooltipHideDelay="1000">
          <mat-label> Συμπεριλαμβάνει ΦΠΑ</mat-label>
        </mat-checkbox>
      </div>


      <div mat-dialog-actions>
        <button mat-button color="primary" (click)="saveItems(summary.type, summary.fee)">
          <mat-icon>save</mat-icon>Αποθήκευση
        </button>
        <button mat-button color="warn" (click)="cancelItems()">
          <mat-icon>cancel</mat-icon> Ακύρωση
        </button>
      </div>

    </div>
  </ng-template>
</div>

