mat-form-field {
  width: 100%;

  ::ng-deep {

    .mat-form-field-infix {
      width: auto !important;
      min-width: 120px !important;

      .mat-select-value {
        max-width: unset !important;
      }
    }
  }
}

.add-btn {
  height: 35px;
  width: 35px;

  ::ng-deep .mat-button-wrapper {
    padding: 5px 0;
    line-height: 14px;
  }
}

.action-btn {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 10px;

  button {
    position: absolute;
    top: -11px;
    width: 30px;
    height: 30px;
    line-height: 14px;

    mat-icon {
      font-size: 20px;
    }
  }
}

mat-select {
  ::ng-deep {
    .mat-select-value {
      overflow: visible;
    }
  }
}


.warning{
pointer-events: none;
}



// .ng-invalid.ng-dirty{
//    color: red;
// }
