<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">


                <app-multilingual-template [formGroup]="form">
                  <ng-template info [ngIf]="true">

                    <mat-form-field class="col-6">
                      <mat-label>Σύνδεσμος</mat-label>
                      <input matInput formControlName="slug">
                    </mat-form-field>
                    <br>

                    <div class="col-12">
                      <mat-label>Εικονίδιο</mat-label>
                      <input #myInput type="file" (change)="onChange($event)">
                      <div class="row" *ngIf="clickedDelIcon">
                      <div class="col-1">
                        <img src='{{iconData}}' width="150" height="50"><a href="{{iconData}}">
                        </a>
                      </div>
                        <button type="button" *ngIf="iconData" mat-icon-button (click)="removeIcon()">
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>
                      <br>
                    </div>



                  </ng-template>

                  <mat-tab>
                    <ng-template mat-tab-label> Χρωματισμοί Εκτυπώσεων </ng-template>

                    <div *ngIf="!checkUrl" formArrayName='forms' style="display: flex;flex-direction: row;">
                      <div *ngFor="let f of forms().controls; let i=index" [formGroupName]="i"
                        style="border: 1px solid;width: 20%;padding:10px;margin:1%;">

                        <h3>{{ f.value.form_name }}</h3>
                        <mat-form-field>
                          <mat-label>Placeholder Text Color</mat-label>
                          <input matInput type="color" formControlName="placeholder_text_color">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                          <mat-label>Primary Background Color</mat-label>
                          <input matInput type="color" formControlName="primary_background_color">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                          <mat-label>Primary Text Color</mat-label>
                          <input matInput type="color" formControlName="primary_text_color">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                          <mat-label>Secondary Background Color</mat-label>
                          <input matInput type="color" formControlName="secondary_background_color">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                          <mat-label>Secondary Text Color</mat-label>
                          <input matInput type="color" formControlName="secondary_text_color">
                        </mat-form-field>
                      </div>
                    </div>
                    <ng-content *ngIf="checkUrl" select='[create]'>
                    </ng-content>

                  </mat-tab>
                </app-multilingual-template>


              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</app-single-form>
