<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete"
  (keydown.enter)="$event.preventDefault()">


  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">


                <h3>Αντικατάσταση Οχήματος -
                  {{vehicleExchangeAllData?.old_vehicle_source?.licence_plates?.[0]?.licence_plate}}
                </h3>
                <br>

                <mat-tab-group [selectedIndex]="selectedIndex">
                  <mat-tab [disabled]="allowReadOnly">
                    <ng-template mat-tab-label>
                      Αντικατάσταση στο γραφείο
                    </ng-template>

                    <!-- test which tab is activated -->
                    <!-- <h5 style="border: 1px solid black;padding:1%;width:30%;border-radius:10px">Αντικατάσταση
        {{vehicleExchangeAllData?.type=='office' ? 'στο γραφείο' : 'σε εξωτερικό χώρο'}}</h5> -->
                    <!-- test which tab is activated -->

                    <div class="col-11 m-1 p-1" style="border: 2px solid lightgrey;border-radius: 10px; ">
                      <h6>Αντικατάσταση</h6>
                      <hr>
                      <div>
                        <div class="row">
                          <app-rental-selector class="col-6 m-1" [ngClass]="'readonly'" formControlName='rental_id'>
                          </app-rental-selector>
                          <div class="col-1 m-1 mt-6">
                            <a style="cursor: pointer;" target="_blank" [routerLink]="['/rentals',rental_id]">
                              <mat-icon>link</mat-icon>
                            </a>
                          </div>

                        </div>

                        <br>

                        <div>
                          <app-datetimepicker #datetime [ngClass]="allowReadOnly ? 'readonly' :''"
                            formControlName='datetime'>
                          </app-datetimepicker>
                          <div *ngIf="form.get('datetime').invalid && (form.get('datetime').dirty ||
                         form.get('datetime').touched)" class="alert">
                            Παρακαλώ επιλέξτε Ημ/νία
                          </div>
                        </div>
                        <br>


                        <div>
                          <app-station-selector #station [ngClass]="allowReadOnly ? 'readonly' :''"
                            formControlName='station_id'>
                          </app-station-selector>
                          <div *ngIf="form.get('station_id').invalid && (form.get('station_id').dirty ||
                         form.get('station_id').touched)" class="alert">
                            Παρακαλώ επιλέξτε σταθμό
                          </div>
                        </div>

                        <br>
                        <mat-form-field class="col-6 m-1" [ngClass]="allowReadOnly ? 'readonly' :''">
                          <mat-label>Τοποθεσία</mat-label>
                          <app-place-selector #place [include]='includeOutPlaces' formControlName="place">
                          </app-place-selector>
                          <div *ngIf="form.get('place').invalid && (form.get('place').dirty ||
                         form.get('place').touched)" class="alert">
                            Παρακαλώ επιλέξτε Τοποθεσία
                          </div>
                        </mat-form-field>
                        <br>
                      </div>

                      <div class="row">

                        <div class="col-11 m-2 p-1" style="border: 1px solid gray;border-radius: 10px;">
                          <h6>Παράδοση Νέου Οχήματος</h6>
                          <hr>
                          <app-group-selector [clearBtn]="true" #group formControlName="new_vehicle_type_id">
                          </app-group-selector>
                          <br>
                          <div class="row2 col-11 m-1">
                            <div>
                              <app-vehicle-selector [clearBtn]="true" class="col-6 m-1" #vehicle
                                [vehicle_status]="['active']" [status2]="['available']" [type_id]="includeGroupPlates"
                                [from]="[checkout_datetimeGet]" [to]="[checkin_datetimeGet]"
                                [rental_id]="[form.get('rental_id').value]" formControlName="new_vehicle_id">
                              </app-vehicle-selector>
                              <div *ngIf="form.get('new_vehicle_id').invalid && (form.get('new_vehicle_id').dirty ||
                         form.get('new_vehicle_id').touched)" class="alert">
                                Παρακαλώ επιλέξτε πινακίδα
                              </div>
                            </div>

                            <input class="col-4 m-1" *ngIf="vehicleExchangeAllData" [readonly]="allowReadOnly"
                              [value]="vehicleExchangeAllData?.new_vehicle_source?.make+' '+vehicleExchangeAllData?.new_vehicle_source?.model">

                            <input *ngIf="vehicleDataCreateMode" [readonly]="true" [value]="new_vehicleDesc">
                          </div>
                          <br>

                          <mat-form-field class="col-6 m-1">
                            <mat-label>Χιλιόμετρα</mat-label>
                            <input numeric [readonly]="allowReadOnly" matInput
                              formControlName="new_vehicle_rental_co_km">
                            <div *ngIf="form.get('new_vehicle_rental_co_km').invalid && (form.get('new_vehicle_rental_co_km').dirty ||
                         form.get('new_vehicle_rental_co_km').touched)" class="alert">
                              Παρακαλώ επιλέξτε χιλιόμετρα
                            </div>
                          </mat-form-field>
                          <br>

                          <mat-form-field class="col-6 m-1">
                            <mat-label>Στάθμη καυσίμου:</mat-label>
                            <input fuelRange [readonly]="allowReadOnly" matInput
                              formControlName="new_vehicle_rental_co_fuel_level">
                            <span matSuffix>/8</span>
                          </mat-form-field>
                          <br>

                          <div>
                            <app-driver-selector [clearBtn]="true" [label]="'Υπάλληλος'"
                              [ngClass]="allowReadOnly ? 'readonly' :''" formControlName="driver_id">
                            </app-driver-selector>
                            <div *ngIf="form.get('driver_id').invalid && (form.get('driver_id').dirty ||
                         form.get('driver_id').touched)" class="alert">
                              Παρακαλώ επιλέξτε οδηγό
                            </div>
                          </div>



                        </div>

                        <div class="col-11 m-2 p-1" style="border: 1px solid gray;border-radius: 10px;">
                          <h6>Παραλαβή Τρέχοντος Οχήματος</h6>
                          <hr>
                          <div class="row2 col-11 m-1">
                            <app-vehicle-selector class="col-6 m-1" class="readonly" formControlName="old_vehicle_id">
                            </app-vehicle-selector>
                            <input *ngIf="vehicleExchangeAllData" [readonly]="allowReadOnly" matInput
                              [value]="vehicleExchangeAllData?.old_vehicle_source?.make+' '+vehicleExchangeAllData?.old_vehicle_source?.model">

                            <input class="col-4 m-1" *ngIf="vehicleDataCreateMode" [readonly]="true" matInput
                              [value]="old_vehicle_Create">
                          </div>

                          <br>
                          <mat-form-field class="col-6 m-1">
                            <mat-label>Check-out Km/Fuel:</mat-label>
                            <input fuelRange [readonly]="true" matInput formControlName="old_vehicle_rental_co_km">
                          </mat-form-field>

                          <mat-form-field class="col-6 m-1">
                            <mat-label>km</mat-label>
                            <input numeric [readonly]="true" matInput
                              formControlName="old_vehicle_rental_co_fuel_level">
                            <span matSuffix>/8</span>
                          </mat-form-field>
                          <br>
                          <div>
                            <mat-form-field class="col-6 m-1">
                              <mat-label>Χιλιόμετρα:</mat-label>
                              <input numeric [readonly]="allowReadOnly" matInput
                                formControlName="old_vehicle_rental_ci_km">
                            </mat-form-field>
                            <div *ngIf="form.get('old_vehicle_rental_ci_km').invalid && (form.get('old_vehicle_rental_ci_km').dirty ||
              form.get('old_vehicle_rental_ci_km').touched)" class="alert">
                              Παρακαλώ ελέγξτε Χιλιόμετρα
                            </div>
                          </div>
                          <br>
                          <mat-form-field class="col-6 m-1">
                            <mat-label>Στάθμη καυσίμου:</mat-label>
                            <input fuelRange [readonly]="allowReadOnly" matInput
                              formControlName="old_vehicle_rental_ci_fuel_level">
                            <span matSuffix>/8</span>
                            <div *ngIf="form.get('old_vehicle_rental_ci_fuel_level').invalid && (form.get('old_vehicle_rental_ci_fuel_level').dirty ||
              form.get('old_vehicle_rental_ci_fuel_level').touched)" class="alert">
                              Παρακαλώ ελέγξτε βενζίνη
                            </div>
                          </mat-form-field>
                          <br>
                        </div>

                      </div>
                    </div>

                    <br>
                    <mat-form-field class="col-6 m-1" *ngIf="allowReadOnly">
                      <mat-label>Διανυθέντα Χιλιόμετρα:</mat-label>
                      <input type="number" [readonly]="allowReadOnly" matInput [value]="old_traveled_km">
                    </mat-form-field>


                    <div class="col-11 m-1">
                      <mat-label>Επισυναπτόμενα έγγραφα</mat-label>
                      <div [ngClass]="allowReadOnly ? 'readonly' :''" style="width: 50%;">
                        <app-document-upload [multiple]="true" formControlName="documents"></app-document-upload>
                      </div>
                      <br>

                      <mat-form-field class="col-11 m-1">
                        <mat-label>Σημειώσεις αντικατάστασης:</mat-label>
                        <textarea row="4" [readonly]="allowReadOnly" matInput formControlName="reason"></textarea>
                      </mat-form-field>

                    </div>
                  </mat-tab>
                  <!--  ----------------------------------------------outside----------------------------------- -->
                  <mat-tab [disabled]="allowReadOnly">
                    <ng-template mat-tab-label>
                      Αντικατάσταση σε εξωτερικό χώρο
                    </ng-template>

                    <div class="row">

                      <div class="column"
                        style="margin:1%; padding:1%;border: 1px solid gray;border-radius: 10px;width:40%;">
                        <h6>1. Ραντεβού</h6>
                        <hr>
                        <div>
                          <app-rental-selector [ngClass]="allowReadOnly ? 'readonly' :''" formControlName='rental_id'>
                          </app-rental-selector>
                          <a style="cursor: pointer;" target="_blank" [routerLink]="['/rentals',rental_id]">
                            <mat-icon>link</mat-icon>
                          </a>
                        </div>

                        <br>
                        <app-datetimepicker [ngClass]="allowReadOnly ? 'readonly' :''"
                          formControlName='proximate_datetime'>
                        </app-datetimepicker>
                        <br>
                        <mat-form-field [ngClass]="allowReadOnly ? 'readonly' :''">
                          <mat-label>Τοποθεσία</mat-label>
                          <app-place-selector #place [include]='includeOutPlaces' formControlName="place">
                          </app-place-selector>
                        </mat-form-field>

                      </div>

                      <div class="column"
                        style="margin:1%; padding:1%;border: 1px solid gray;border-radius: 10px;width:40%;">
                        <h6>2. Αναχώρηση Νέου Οχήματος</h6>
                        <hr>
                        <app-group-selector [clearBtn]="true" #group [ngClass]="allowReadOnly ? 'readonly' :''"
                          formControlName="new_vehicle_type_id">
                        </app-group-selector>
                        <br>
                        <div class="row2">
                          <app-vehicle-selector #vehicle2 [vehicle_status]="['active']" [status2]="['available']"
                            [type_id]="includeGroupPlates" [ngClass]="allowReadOnly ? 'readonly' :''"
                            formControlName="new_vehicle_id">
                          </app-vehicle-selector>
                          <input *ngIf="vehicleExchangeAllData" [readonly]="true" matInput
                            [value]="vehicleExchangeAllData?.new_vehicle_source?.make +' '+vehicleExchangeAllData?.new_vehicle_source?.model">
                        </div>
                        <br>
                        <mat-form-field>
                          <mat-label>Χιλιόμετρα</mat-label>
                          <input matInput numeric [readonly]="allowReadOnly" matInput
                            formControlName="new_vehicle_rental_co_km">
                        </mat-form-field>
                        <br>

                        <mat-form-field>
                          <mat-label>Στάθμη καυσίμου:</mat-label>
                          <input fuelRange [readonly]="allowReadOnly" matInput
                            formControlName="new_vehicle_rental_co_fuel_level">
                          <span matSuffix>/8</span>
                        </mat-form-field>
                        <br>

                        <br>
                        <app-datetimepicker [ngClass]="allowReadOnly ? 'readonly' :''" formControlName='datetime'>
                        </app-datetimepicker>
                        <br>
                        <app-driver-selector [label]="'Υπάλληλος'" [ngClass]="allowReadOnly ? 'readonly' :''"
                          formControlName="driver_id">
                        </app-driver-selector>
                      </div>
                    </div>

                    <div style="margin:1%; padding:1%;border: 1px solid gray;border-radius: 10px;width:95%;">
                      <h6>3. Αντικατάσταση</h6>
                      <hr>
                      <br>
                      <app-datetimepicker [ngClass]="allowReadOnly ? 'readonly' :''" formControlName='datetime'>
                      </app-datetimepicker>
                      <div class="row">
                        <div class="column" style="padding:1%;border: 1px solid gray;border-radius: 10px;">
                          <p style="font-size:14px;">Παράδοση Νέου Οχήματος</p>
                          <br>
                          <hr>
                          <div class="row2">
                            <mat-form-field>
                              <mat-label>Πινακίδα:</mat-label>
                              <input [readonly]="true" matInput
                                [value]="new_vehicle_Create?.licence_plates?.[0].licence_plate">
                            </mat-form-field>
                            <!-- <app-vehicle-selector class='readonly' formControlName="new_vehicle_id">
              </app-vehicle-selector> -->
                            <input *ngIf="vehicleExchangeAllData" [readonly]="true" matInput
                              [value]="vehicleExchangeAllData?.new_vehicle_source?.make +' '+vehicleExchangeAllData?.new_vehicle_source?.model">

                            <input *ngIf="vehicleDataCreateMode" [readonly]="true" matInput [value]="new_vehicleDesc">
                          </div>
                          <br>

                          <mat-form-field>
                            <mat-label>Χιλιόμετρα</mat-label>
                            <input type="number" [readonly]="allowReadOnly" matInput
                              formControlName="new_vehicle_rental_co_km">
                          </mat-form-field>
                          <br>

                          <mat-form-field>
                            <mat-label>Στάθμη καυσίμου:</mat-label>
                            <input fuelRange [readonly]="allowReadOnly" matInput
                              formControlName="new_vehicle_rental_co_fuel_level">
                            <span matSuffix>/8</span>
                          </mat-form-field>

                          <br>
                          <mat-form-field *ngIf="allowReadOnly">
                            <mat-label>Διανυθέντα Χιλιόμετρα:</mat-label>
                            <input numeric [readonly]="allowReadOnly" matInput [value]="old_traveled_km">
                          </mat-form-field>

                        </div>

                        <div class="column" style="padding:1%;border: 1px solid gray;border-radius: 10px;">
                          <p style="font-size:14px;">Παραλαβή Τρέχοντος Οχήματος</p>
                          <br>
                          <hr>
                          <div class="row2">
                            <app-vehicle-selector class="readonly" formControlName="old_vehicle_id">
                            </app-vehicle-selector>
                            <input *ngIf="vehicleExchangeAllData" [readonly]="true" matInput
                              [value]="vehicleExchangeAllData?.old_vehicle_source?.make+' '+vehicleExchangeAllData?.old_vehicle_source?.model">

                            <input *ngIf="vehicleDataCreateMode" [readonly]="true" matInput
                              [value]="old_vehicle_Create">
                          </div>
                          <br>

                          <mat-form-field>
                            <mat-label>Χιλιόμετρα:</mat-label>
                            <input numeric [readonly]="allowReadOnly" matInput
                              formControlName="old_vehicle_rental_ci_km">
                          </mat-form-field>
                          <br>
                          <mat-form-field>
                            <mat-label>Στάθμη καυσίμου:</mat-label>
                            <input fuelRange [readonly]="allowReadOnly" matInput
                              formControlName="old_vehicle_rental_ci_fuel_level">
                            <span matSuffix>/8</span>
                          </mat-form-field>

                          <br>
                          <mat-form-field *ngIf="allowReadOnly">
                            <mat-label>Διανυθέντα Χιλιόμετρα:</mat-label>
                            <input type="number" [readonly]="allowReadOnly" matInput [value]="new_traveled_km">
                          </mat-form-field>

                        </div>
                      </div>
                    </div>


                    <div style="margin-left:10%;">
                      <mat-label>Επισυναπτόμενα έγγραφα</mat-label>
                      <div [ngClass]="allowReadOnly ? 'readonly' :''" style="width: 50%;">
                        <app-document-upload [multiple]="true" formControlName="documents"></app-document-upload>
                      </div>
                      <br>

                      <mat-form-field style="width: 50%;">
                        <mat-label>Σημειώσεις αντικατάστασης:</mat-label>
                        <textarea row="4" [readonly]="allowReadOnly" matInput formControlName="reason"></textarea>
                      </mat-form-field>

                    </div>

                  </mat-tab>
                </mat-tab-group>


              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>


</app-single-form>
