// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.nav-link-text {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
}

.logo-text {
    img {
        margin-top: 8px;
        max-width: 100%;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: $light;

    .page-breadcrumb {
        padding: 20px;
        background-color: $primary-light;
    }
}

.page-main {
    padding: 20px;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    white-space: break-spaces;
    padding: 10px 15px;
}

.topbar .dropdown-menu.dropdown-menu-right .with-arrow {
    right: unset;
}

.sidebar-nav ul .sidebar-item {
    .sidebar-link {
        opacity: 1;

        &:not(.active):hover {
            opacity: 0.6;
        }
    }

    .collapse {
        .sidebar-item {
            margin-left: 30px;
            border-radius: 60px 0 0 60px;
            &.active {
                background-color: $themecolor-light;
            }
        }
    }
}

.sidebar-nav li.selected {
    padding: 0 !important;
}

.footer {
    padding: 0;
}

footer {
    background-color: #efefef;
}

.footer-top {
    padding: 16px;
}

.footer-bottom {
    width: 100%;
    padding: 16px;
    background-color: $gray-300;
}

.no-image-holder {
    margin-left: 20px;
    position: relative;
    width: 100%;
    max-height: 60px;
    max-width: 60px;

    .dummy {
        margin-top: 100%;
    }

    p {
        background-color: $primary;
        position: absolute;
        margin-bottom: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        color: white;
    }
}

form.nav-link {
    .nav-link {
        height: 100%;
    }
}

form.dropdown-item {
    .dropdown-item {
        padding: 0;
    }
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    display: flex;
    align-items: center;
    line-height: unset;
    min-height: 64px;
}

.nav-link {
    &.search-input {
        display: flex;
        align-items: center;

        .icon {
            font-size: 20px;
            padding-right: 5px;
        }

        input {
            border-radius: 3px;
            padding: 3px;
            padding-left: 5px;
            border: 1px solid transparent;
            border-left-color: rgba(255, 255, 255, 0.3);
            background-color: transparent;
            color: white;
            transition: background-color 250ms ease, color 250ms ease;

            &:focus {
                color: black;
                background-color: white;
            }

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }
}

#main-wrapper {
    overflow: unset !important;

    &[data-layout="vertical"],
    &[data-layout="horizontal"] {

        /*This is for the logo bg*/
        .navbar-header {
            background: $sidebar;
        }

        .topbar .navbar-collapse,
        .topbar,
        .topbar .top-navbar {
            background: $topbar;
        }

        .left-sidebar {

            &,
            ul {
                background: $sidebar;

                .create-btn {
                    background: $cyan;
                }
            }
        }
    }

    #main-wrapper {
        &[data-layout="vertical"] {
            .left-sidebar {
                .sidebar-nav {
                    >ul>li.sidebar-item.selected {

                        >a.sidebar-link,
                        >a.sidebar-link>i {
                            color: $white;
                        }

                        >a.sidebar-link.has-arrow {
                            &::after {
                                border-color: $white;
                            }
                        }
                    }

                    >ul>li.selected>a {
                        background: $side-selected;
                    }
                }
            }
        }
    }
}

.login-page {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #484949;

    main {
        background-color: $light;
        border-bottom: 1px solid #efefef;
        flex: 1;
        display: flex;

        .bg-image {
            background: url("./images/login-side.jpg") no-repeat left 0 !important;
            background-position: center left !important;
            width: 300px;
        }

        .card {
            margin-top: 15vh !important;
        }
    }

    header,
    footer {
        padding: 15px 0px;
        text-align: center;
    }

    header {
        background-color: $secondary;

        &>img {
            margin: 0 auto;
            height: 80px;
        }
    }
}

.login-content {
    .custom {
        background: url("https://www.ophthalmica.gr/club/templates/beez_20/images/home_back.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
        background-position-x: -16px;
        background-position-y: -10px;
        color: #000000;
        font-size: 12px;
        margin: auto;
        padding: 0px 10px;
        width: 625px;
        max-height: 253px;
        max-width: 100%;

        &>div {
            width: 550px;
            text-align: center;
            padding: 20px 0px;
            padding-top: 10px;
            max-width: 100%;
            margin: auto;
        }
    }
}

.bootstrap-datetimepicker-widget {
    width: unset !important;
}

@media screen and (max-width: 991px) {
    .card-group {
        .card {
            flex: 1 1 50% !important;
        }
    }
}

@media screen and (min-width: 801px) {
    .card-group {
        .card {
            flex: 1 1 33%;
        }
    }

    .break-card {
        flex: 1 1 35% !important;
    }

    .login-page {
        main {
            display: flex;

            .login-content {
                width: 75%;
                padding-right: 15px;
                padding-left: 15px;
            }

            .bg-image {
                width: 22%;
            }
        }
    }
}

@media (max-width: 690px) {
    .login-content {
        padding: 0 !important;

        .container {
            padding: 0 !important;
        }

        .custom {
            background: none;
        }
    }

    header>img {
        width: 100%;
        height: auto;
    }
}
