<form [formGroup]="myForm" novalidate class="h-100">
  <div class="row pdf">
    <div class="column">

      <div class="print-element">
        <mat-form-field class="example-chip-list" style="width:100%">
          <mat-label> Αποστολή σε:</mat-label>
          <mat-chip-list #chipList aria-label="e-mails" formControlName='mail_to'>
            <mat-chip *ngFor="let e of emails" (removed)="remove(e)">
              {{e}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="New Email..." [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>


      <mat-form-field class="print-element">
        <mat-label> Θέμα: </mat-label>
        <input matInput formControlName='mail_subject' />
      </mat-form-field>

      <!-- <mat-form-field class="print-element">
        <mat-label> Σημειώσεις: </mat-label>
        <textarea rows="3" matInput formControlName='mail_notes'></textarea>
      </mat-form-field> -->
        <mat-label class="ml-4"> Σημειώσεις: </mat-label>
        <editor class="print-element" formControlName="mail_notes">
        </editor>
      <br>
      <br>
      <div class="print-element">
        <button mat-raised-button [disabled]="enableSend" color="accent" (click)="sendMail()">Αποστολή</button>
        &nbsp;&nbsp;
        <button mat-raised-button (click)="onClose()" color="warn">Close</button>
      </div>

    </div>

    <div class="column">
      <h3>{{seq}}</h3>
      <!-- <ngx-extended-pdf-viewer [src]="src" [useBrowserLocale]="true" height="80%" [textLayer]="true"
        [showHandToolButton]="true"
        [showPresentationModeButton]="true" [(page)]="page" [showDownloadButton]="false">

      </ngx-extended-pdf-viewer> -->
      <iframe *ngIf="enableFrame"  class="w-100 h-100" [src]="src | safe">
      </iframe>

    </div>

  </div>

</form>
