<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">


                <app-multilingual-template [formGroup]="form">
                  <ng-template info [ngIf]="true">

                    <div class="row">

                      <div class="col-4">
                        <mat-label>Εικονίδιο</mat-label>
                        <input #myInput type="file" (change)="onChange($event)">
                        <div class="row m-1" *ngIf="clickedDelIcon">
                          <div class="col-4">
                            <img src='{{iconData}}' width="150" height="50"><a href="{{iconData}}">
                            </a>
                          </div>
                          <button type="button" *ngIf="iconData" mat-icon-button (click)="removeIcon()">
                            <mat-icon color="warn">delete</mat-icon>
                          </button>
                        </div>
                        <br>
                      </div>

                      <mat-form-field class="col-3 m-1">
                        <mat-label>Κωδικός*</mat-label>
                        <input matInput formControlName="code">
                      </mat-form-field>

                      <mat-form-field class="col-3 m-1">
                        <mat-label>Σειρά προτεραιότητας*</mat-label>
                        <input type="number" matInput formControlName="order">
                      </mat-form-field>

                    </div>


                    <div class="row">

                      <mat-form-field class="col-2">
                        <mat-label>Μέγιστη ποσότητα</mat-label>
                        <mat-select formControlName="items_max">
                          <mat-option *ngFor="let n of numbers" [value]="n">{{n}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- <mat-form-field>
          <mat-label>Κόστος</mat-label>
          <input matInput  formControlName="cost" >
      </mat-form-field> -->

                      <mat-form-field class="col-2">
                        <mat-label>Κόστος ανά ημέρα</mat-label>
                        <input matInput numeric decimals="2" formControlName="cost_daily">
                      </mat-form-field>

                      <mat-checkbox class="col-2 mt-5" formControlName="active_daily_cost">
                        <mat-label>Κόστος ανά ημέρα</mat-label>
                      </mat-checkbox>

                      <mat-form-field class="col-2" *ngIf="form.controls.active_daily_cost.value">
                        <mat-label>Μέγιστο κόστος</mat-label>
                        <input matInput numeric decimals="2" formControlName="cost_max">
                      </mat-form-field>

                      <mat-checkbox class="col-2 m-1 mt-5" formControlName="default_on">
                        <mat-label>Πάντα επιλεγμένο</mat-label>
                      </mat-checkbox>

                    </div>




                  </ng-template>
                </app-multilingual-template>

              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>



</app-single-form>
