<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">

                <app-multilingual-template [formGroup]="form">
                  <ng-template info [ngIf]="true">

                    <div class="row">
                      <app-brand-selector class="col-6" #brand [clearBtn]="true" formControlName="brand_id"
                        [addBtn]="true">
                      </app-brand-selector>

                      <mat-form-field class="col-6">
                        <mat-label>Πρόγραμμα</mat-label>
                        <mat-select formControlName="program_id">
                          <mat-option *ngFor="let p of programs" [value]="p.id">{{p?.profiles?.el?.title }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>


                    <app-agent-selector #agent class="col-6" formControlName="agent_id" [addBtn]="true">
                    </app-agent-selector>

                  </ng-template>
                </app-multilingual-template>


              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</app-single-form>
