
<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ totalBookingSrv.total_bookingSub.getValue()?.results ?? 0  }}</h6>
  <h6>Ποσό: {{ totalBookingSrv.total_bookingSub.getValue()?.total_amount ?? 0 +' €' }}</h6>
  <h6>Ημέρες ενοικίασης: {{ totalBookingSrv.total_bookingSub.getValue()?.total_days ?? 0  }}</h6>
</div>

<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικά Αποτελέσματα: {{ totalBookingSrv.total_bookingSub.getValue()?.g_results ?? 0 }}</h6>
  <h6>Συνολικό Ποσό: {{ totalBookingSrv.total_bookingSub.getValue()?.g_total_amount ?? 0  +' €' }}</h6>
  <h6>Συνολικές ημέρες ενοικίασης: {{ totalBookingSrv.total_bookingSub.getValue()?.g_total_days ?? 0 }}</h6>
</div>

<ng-template #group_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Group</mat-label>
    <mat-select #matRef [(ngModel)]="filter.value" >
      <mat-option *ngFor="let g of groups" [value]="g?.category?.profiles?.el?.title">
        {{g?.category?.profiles?.el?.title}}
        </mat-option>
    </mat-select>
  </mat-form-field>
   <mat-icon class="col-1" *ngIf="matRef.value" (click)="clear()">clear</mat-icon>
</ng-template>

<ng-template #status_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Κατάσταση</mat-label>
    <mat-select #matRef2 [(ngModel)]="filter.value" multiple>
      <mat-option value="pending">pending</mat-option>
      <mat-option value="rental">rental</mat-option>
      <mat-option value="cancelled">cancelled</mat-option>
      <mat-option value="sold">sold</mat-option>
    </mat-select>
  </mat-form-field>
   <mat-icon class="col-1" *ngIf="matRef2.value" (click)="clear2()">clear</mat-icon>
</ng-template>

<ng-template #cancel_reason_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Αιτιολογία Ακύρωσης</mat-label>
    <mat-select #matRef3 [(ngModel)]="filter.value">
      <mat-option *ngFor="let c of cancels" [value]="+c?.id">{{ c?.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="matRef3.value" (click)="clearCancel()">clear</mat-icon>
</ng-template>

<ng-template #phone_filter let-filter>
  <mat-form-field class="col-12">
    <mat-label>Τηλέφωνο-Email</mat-label>
    <input matInput [(ngModel)]="filter.value" />
  </mat-form-field>
</ng-template>

<ng-template #payer_filter let-filter>
  <app-customer-selector class="col-12"  [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-customer-selector>
</ng-template>

<ng-template #source_filter let-filter>
  <app-source-selector class="col-12" #source [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-source-selector>
</ng-template>

<ng-template #agent_filter let-filter>
  <app-agent-selector class="col-12"  #agent [include]='includeSourceAgent' [clearBtn]="true" [label]="filter.label"
    [(ngModel)]="filter.value">
  </app-agent-selector>
</ng-template>

<ng-template #subAccount_filter let-filter>
  <app-sub-account-selector class="col-12" #sub [include]="includeAgentSub" [clearBtn]="true" [label]="filter.label"
    [(ngModel)]="filter.value">
  </app-sub-account-selector>
</ng-template>



<ng-template #date_from_at_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Από: Ημ/νία Εισαγωγής</mat-label>
    <input #input5 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker5">
    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
    <mat-datepicker #picker5></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input5.value" (click)="clearDates5()">clear</mat-icon>
</ng-template>

<ng-template #date_to_at_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Εώς: Ημ/νία Εισαγωγής</mat-label>
    <input #input6 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker6">
    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
    <mat-datepicker #picker6></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input6.value" (click)="clearDates6()">clear</mat-icon>
</ng-template>

<ng-template #station_out_filter let-filter>
  <app-station-selector class="col-12" #stationO [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-station-selector>
</ng-template>

<ng-template #date_from_out_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Από: Παράδοση</mat-label>
    <input #input1 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input1.value" (click)="clearDates1()">clear</mat-icon>
</ng-template>

<ng-template #date_to_out_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Εώς: Παράδοση</mat-label>
    <input #input2 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker2">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input2.value" (click)="clearDates2()">clear</mat-icon>
</ng-template>

<ng-template #station_in_filter let-filter>
  <app-station-selector class="col-12" #stationI [clearBtn]="true" [label]="filter.label" [(ngModel)]="filter.value">
  </app-station-selector>
</ng-template>

<ng-template #date_from_in_filter let-filter>
  <mat-form-field class="col-10" >
    <mat-label>Από: Παραλαβή</mat-label>
    <input #input3 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker3">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input3.value" (click)="clearDates3()">clear</mat-icon>
</ng-template>

<ng-template #date_to_in_filter let-filter>
  <mat-form-field class="col-10">
    <mat-label>Εώς: Παραλαβή</mat-label>
    <input #input4 matInput (dateInput)="first(filter.value=$event.value.format('YYYY-MM-D'))"
      [matDatepicker]="picker4">
    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
    <mat-datepicker #picker4></mat-datepicker>
  </mat-form-field>
  <mat-icon class="col-1" *ngIf="input4.value" (click)="clearDates4()">clear</mat-icon>
</ng-template>
