<app-single-form [formGroup]="form" (ngSubmit)="onSubmit()" [canDelete]="canDelete"
  (keydown.enter)="$event.preventDefault()">

  <div class='row  ml-0 mr-0'>
    <div class='col-md-12 pl-0'>
      <div class="row g-0">

        <div class='col-12 p-1'>
          <mat-card>
            <mat-card-content>
              <div class="row wrap">



                <h2 style="text-align:center;">{{header}} {{form.value.sequence_number ?? ''}}</h2>
                <button class="col-3 m-2" *ngIf="!isFromNew" type='button' mat-raised-button color="primary"
                  (click)="ShowCheckbox()">Εκτύπωση</button>


                <div class="row">

                  <div class="col-6">
                    <app-datetimepicker #datetime formControlName="payment_datetime"></app-datetimepicker>
                    <div *ngIf="form.get('payment_datetime').invalid && (form.get('payment_datetime').dirty ||
                form.get('payment_datetime').touched)" class="alert">
                      Παρακαλώ προσθέστε ημερομηνία
                    </div>
                  </div>

                  <div class="col-6">
                    <mat-form-field class="col-12" *ngIf="rental">
                      <!-- rental component uses the same payment form -->
                      <mat-label>Πελάτης</mat-label>
                      <mat-select #payer formControlName="payer" (selectionChange)="selectedPayer(payer.value)">
                        <ng-container *ngFor="let payer of payers | keyvalue">
                          <mat-option *ngIf="payer.value.name" [value]="payer.key">{{payer.value.text}}
                            {{payer.value.name}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>

                    <app-customer-selector #customer class="col-6" *ngIf="!rental" [editBtn]="true"
                      formControlName="payer">
                    </app-customer-selector>
                    <div *ngIf="form.get('payer').invalid && (form.get('payer').dirty ||
                form.get('payer').touched)" class="alert">
                      Παρακαλώ προσθέστε πελάτη
                    </div>
                  </div>

                </div>



                <div class="row">

                  <div class="col-4">
                    <mat-form-field class="col-12">
                      <mat-label>{{amountHeader}}</mat-label>
                      <input matInput numeric decimals="2" formControlName="amount">
                    </mat-form-field>
                    <div *ngIf="form.get('amount').invalid && (form.get('amount').dirty ||
                form.get('amount').touched)" class="alert">
                      Παρακαλώ προσθέστε ποσό
                    </div>
                  </div>

                  <div class="col-4" *ngIf="isDialog">
                    <mat-form-field class="col-12" [ngClass]="'readonly'" *ngIf="isDialog">
                      <mat-label>Υπόλοιπο</mat-label>
                      <input matInput numeric decimals="2" formControlName="remaining">
                    </mat-form-field>
                  </div>

                  <div class=" col-4" *ngIf="!isFromNew">
                    <div class="row">
                      <app-rental-selector [ngClass]="rental ? 'readonly':''" #rental class=" col-10 m-1"
                        formControlName="rental_id" [multiple]='false'>
                      </app-rental-selector>
                      <a class="col-1 mt-6" target='_blank' style="cursor: pointer;"
                        [routerLink]="['/rentals',rental_id]">
                        <mat-icon >link</mat-icon>
                      </a>
                    </div>
                  </div>

                </div>


                <div class="row">

                  <app-brand-selector class="col-3" #brand [clearBtn]="true" formControlName="brand_id">
                  </app-brand-selector>
                  <div class="col-3">
                    <app-user-selector class="col-12" #user [clearBtn]="true" formControlName="user_id">
                    </app-user-selector>
                    <div *ngIf="form.get('user_id').invalid && (form.get('user_id').dirty ||
                   form.get('user_id').touched)" class="alert">
                      Παρακαλώ προσθέστε χρήστη
                    </div>
                  </div>

                  <app-station-selector class="col-3" #station formControlName="station_id"></app-station-selector>

                  <mat-form-field class="col-3">
                    <mat-label>Τοποθεσία</mat-label>
                    <app-place-selector #place [include]='includePlaces' formControlName="place"></app-place-selector>
                  </mat-form-field>

                </div>




                <mat-form-field class="col-6">
                  <mat-label>Τρόπος Είσπραξης</mat-label>
                  <mat-select formControlName="payment_method" (focus)='getPay()'>
                    <mat-option [value]="method.id" *ngFor="let method of methods">{{ method.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="col-6" *ngIf='ngPay=="credit_card" || form.value.payment_method=="credit_card"'>
                  <mat-form-field class="col-12">
                    <mat-label>Επιλογή πιστωτικής κάρτας</mat-label>
                    <mat-select formControlName="card_type">
                      <mat-option [value]="card.title" *ngFor="let card of cards">
                        {{card.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col-6">
                    <mat-label>
                      Αριθμός Κάρτας:
                    </mat-label>
                    <input matInput formControlName="credit_card_number">
                  </mat-form-field>

                  <mat-form-field class="col-6">
                    <mat-label>
                      Ημερομηνία λήξης (MMYY):
                    </mat-label>
                    <input type='month' matInput formControlName="credit_card_month_year" (change)="parseDate()">
                       <div *ngIf="expriredCard" class="alert">
                         Περασμένη Ημ/νία
                       </div>
                  </mat-form-field>

                </div>

                <div class="col-6" *ngIf='ngPay=="cheque"  || form.value.payment_method=="cheque"'>
                  <mat-form-field class="col-12">
                    <mat-label>
                      Αριθμός Επιταγής:
                    </mat-label>
                    <input matInput formControlName="cheque_number">
                  </mat-form-field>


                  <mat-form-field class="col-6 m-1">
                    <mat-label> Ημερομηνία λήξης:</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="cheque_due_date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>


                </div>
                <div class="col-6" *ngIf='ngPay=="bank_transfer"  || form.value.payment_method=="bank_transfer"'>
                  <mat-form-field class="col-12">
                    <mat-label> IBAN: </mat-label>
                    <input matInput formControlName="bank_transfer_account">
                  </mat-form-field>

                  <mat-checkbox class="col-6" formControlName="foreigner">
                    <mat-label>Πάντα Τράπεζα Εξωτερικού</mat-label>
                  </mat-checkbox>

                </div>


                <mat-form-field class="col-11 m-1">
                  <mat-label>Σημειώσεις:</mat-label>
                  <textarea cols='40' matInput formControlName="comments"></textarea>
                </mat-form-field>


                <div class="col-11 m-1">

                  <mat-label>Επισυναπτόμενα έγγραφα</mat-label>
                  <app-document-upload [multiple]="true" formControlName="documents"></app-document-upload>
                </div>



                <div>
                  <mat-label>Συνδέσεις</mat-label>

                  <li *ngIf="conRental">
                     <a *ngIf="conRental" style="cursor: pointer;color:darkgreen;"
                       [routerLink]="['/rentals',conRental?.id]" target='_blank'>
                       {{conRental?.sequence_number}}
                     </a>
                  </li>

                  <br>
                  <li *ngIf="conInvoice">
                    <a *ngIf="conInvoice" style="cursor: pointer;color:darkgreen;"
                      [routerLink]="['/invoices',conInvoice?.id]" target='_blank'>
                      {{conInvoice?.sequence_number}}
                    </a>
                  </li>
                </div>




              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>



</app-single-form>
