
<app-vehicle-form [formGroup]="formComponent.form" (ngSubmit)="onSubmit()" [canDelete]="false">

<!-- <ng-container first-plate>

<mat-form-field>
  <mat-label>*Πινακίδα</mat-label>
  <input matInput formControlName="first_licence_plate" />
</mat-form-field>


<mat-form-field appearance="fill"  class="example-full-width" style="margin:1%">
  <mat-label>*Ημερομηνία</mat-label>
  <input matInput [matDatepicker]="picker111" formControlName="first_licence_plate_date">
  <mat-datepicker-toggle matSuffix [for]="picker111"></mat-datepicker-toggle>
  <mat-datepicker #picker111></mat-datepicker>
</mat-form-field>
</ng-container> -->

</app-vehicle-form>
