

<ng-template #Icon let-element>
  <img [src]="element.icon" width='20' height="10">
</ng-template>

<div *ngIf="type=='extras'" style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ optionsSrv.total_OptionsSub.getValue()?.results_e ?? 0 }}</h6>
</div>

<div *ngIf="type=='transport'" style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ optionsSrv.total_OptionsSub.getValue()?.results_t ?? 0 }}</h6>
</div>

<div *ngIf="type=='insurances'" style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ optionsSrv.total_OptionsSub.getValue()?.results_i ?? 0 }}</h6>
</div>

<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div *ngIf="type=='extras'" style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικά Αποτελέσματα: {{ optionsSrv.total_OptionsSub.getValue()?.g_results_e ?? 0 }}</h6>
</div>

<div *ngIf="type=='transport'" style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικά Αποτελέσματα: {{ optionsSrv.total_OptionsSub.getValue()?.g_results_t ?? 0 }}</h6>
</div>

<div *ngIf="type=='insurances'" style="display:flex;justify-content:space-between;margin:1%;">
  <h6> Συνολικά Αποτελέσματα: {{ optionsSrv.total_OptionsSub.getValue()?.g_results_i ?? 0 }}</h6>
</div>


