
<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ contactSrv.total_ContactSub.getValue()?.results ?? 0 }}</h6>
</div>

<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικά Αποτελέσματα: {{ contactSrv.total_ContactSub.getValue()?.g_results ?? 0 }}</h6>
</div>


<ng-template #fullname_filter let-filter>
  <app-contact-selector class="col-12" [(ngModel)]="filter.value"></app-contact-selector>
</ng-template>
