<app-selector
[params]="params"
[optionTemplate]="optionTemplate"
></app-selector>

<ng-template #optionTemplate let-option>
<span *ngIf="!option?.warning && !option?.warningB"> {{ option?.licence_plates[0]?.licence_plate }}</span>

<span *ngIf="option?.warning" style="background-color:coral;">
  {{ option?.licence_plates[0]?.licence_plate}}
  &nbsp;&nbsp;
</span>

<span *ngIf="option?.warning">
<a target="_blank"  routerLink="/rentals/{{option?.rental.id}}">
    {{option?.rental.sequence_number }}</a>
</span>


<span *ngIf="option?.warningB" style="background-color:rgb(0, 183, 255);">
  {{ option?.licence_plates[0]?.licence_plate}}
  &nbsp;&nbsp;
</span>

<span *ngIf="option?.warningB">
  <a target="_blank"  routerLink="/bookings/{{option?.booking.id}}">
    {{option?.booking.sequence_number }}</a>
</span>

</ng-template>
