<div class="dialog" #dialog>
    <div mat-dialog-content class="mat-dialog-content">
        <ng-template #formRef></ng-template>
    </div>

    <div mat-dialog-actions>
        <button *ngIf="data.component.name!='RentalSignatureComponent'" [disabled]='uploadingDoc' mat-button
          color="primary"
          (click)="submit()">
            <mat-icon>save</mat-icon>
            <ng-template  [ngIf]="id" [ngIfElse]="create">
              Αποθήκευση</ng-template>
        </button>
        <button mat-button color="warn" (click)="closeDialog()">
          <mat-icon>cancel</mat-icon> {{data.component.name!='RentalSignatureComponent' ? 'Ακύρωση' : 'close'}}
        </button>
    </div>
</div>
<ng-template  #create>Δημιουργία</ng-template>
