<ng-template #Icon let-element>
  <img [src]="element.icon" width='20' height="10">
</ng-template>

<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Αποτελέσματα: {{ categoriesSrv.total_CategoriesSub.getValue()?.results ?? 0  }}</h6>
</div>

<app-table [dataSource]="data" [displayedColumns]="displayedColumns" [columns]="columns">
</app-table>

<div style="display:flex;justify-content:space-between;margin:1%;">
  <h6>Συνολικά Αποτελέσματα: {{ categoriesSrv.total_CategoriesSub.getValue()?.g_results ?? 0 }}</h6>
</div>
