<app-invoices-form (ngSubmit)="onSubmit()" [canDelete]="false" [formGroup]='formComponent.form'>
  <ng-container selectorsEnabled>
    <div>

      <div class="row">

        <app-station-selector class="col-3" #stationC [addBtn]="true" formControlName='station_id'>
        </app-station-selector>

        <app-brand-selector class="col-3" #brandC [clearBtn]="true" formControlName='brand_id'></app-brand-selector>

        <app-rental-selector class="col-3" #rentalC [addBtn]="true" formControlName='rental_id'> </app-rental-selector>

        <div class="col-3">
          <app-customer-selector class="col-12" #customerC [clearBtn]="true" [addBtn]="true" formControlName='invoicee'>
          </app-customer-selector>
          <div *ngIf="formComponent.form.get('invoicee').invalid && (formComponent.form.get('invoicee').dirty ||
                formComponent.form.get('invoicee').touched)" class="alert">
            Παρακαλώ προσθέστε πελάτη
          </div>
        </div>

      </div>

    </div>

  </ng-container>


  <ng-container newProduct>

    <div class='row' formArrayName="rows">


      <div class="row">

        <mat-label class="col-2 ml-9" >
          Code</mat-label>

        <mat-label class="col-3">
          Αιτιολογία Χρέωσης</mat-label>

        <mat-label class="col-2">
          Τιμή (με ΦΠΑ)</mat-label>


        <mat-label class="col-2">
          Ποσότητα</mat-label>

        <mat-label class="col-2">
          Σύνολο (με ΦΠΑ)
        </mat-label>

      </div>


      <div class="col-12" *ngFor="let row of formComponent.rows().controls;let rowIndex = index;">

        <div class="row p-2" [formGroupName]="rowIndex" style="border: 1px solid blue;">


          <div class="row col-2">
           <span class="col-1">{{rowIndex +1}}</span>

           <mat-form-field class="col-11">
             <input type="text" matInput formControlName="code">
           </mat-form-field>
          </div>


          <mat-form-field class="col-3">
            <input type='text' matInput formControlName="title">
          </mat-form-field>

          <mat-form-field class="col-2">
            <input numeric decimals="2"matInput formControlName="price" (keyup)='calcP(rowIndex)'>
            <span>€</span>
          </mat-form-field>

          <mat-form-field class="col-2">
            <input numeric decimals="0"  matInput formControlName="quantity" (keyup)='calcQ(rowIndex)'>
          </mat-form-field>

          <mat-form-field class="col-2">
            <input numeric decimals="2" matInput formControlName="total" (keyup)='calcT(rowIndex)'>
            <span>€</span>
          </mat-form-field>


          <button class="col-1 ml-3 mt-5 mb-5" type='button' mat-raised-button color='warn'
            (click)="removeRow(rowIndex)">remove</button>

        </div>
      </div>

      <button class="m-2" type='button' mat-raised-button color='primary' (click)="addRow()">add</button>
    </div>


  </ng-container>

</app-invoices-form>
